services:
  redis:
    build:
      context: .
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - redisNetwork

  redis-insight:
    container_name: redis-insight
    image: redis/redisinsight:latest
    restart: always
    ports:
      - "5540:5540"
    volumes:
      - redis_insight_data:/data
    networks:
      - redisNetwork

volumes:
  redis_data:
  redis_insight_data:

networks:
  redisNetwork: